[submodule "collections/ansible-collection-jumpcloud"]
	path = collections/ansible-collection-jumpcloud
	url = https://github.com/veloslab/ansible-collection-jumpcloud.git
[submodule "collections/ansible-collection-alerta"]
	path = collections/ansible-collection-alerta
	url = https://github.com/veloslab/ansible-collection-alerta.git
[submodule "collections/ansible-collection-hashicorp"]
	path = collections/ansible-collection-hashicorp
	url = git@github.com:veloslab/ansible-collection-hashicorp.git
[submodule "collections/ansible-collection-base"]
	path = collections/ansible-collection-base
	url = git@github.com:veloslab/ansible-collection-base.git
